@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 4%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 4%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 4%;

    --primary: 240 10% 4%;
    --primary-foreground: 0 0% 100%;

    --secondary: 204, 6%, 95%;
    --secondary-foreground: 240 10% 4%;
    --secondary_dark: 0 0% 100%;
    --secondary_dark-foreground: 204, 6%, 70%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 2400% 46%;

    --accent: 229, 100%, 90121%;
    --accent-foreground: 240 10% 4%;
    --accent_dark: 229, 90%, 80%;
    --accent_dark-foreground: 240 10% 4%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0, 0%, 87%;
    --input: 0, 0%, 5%;
    --ring: 240 10% 4%;

    --radius: 0.4rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .text-stroke {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px hsl(0, 0%, 90%);
  }
}
