@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #09090b;

    --accent: #ffe2f7;
    /* --accent: #fef418; */
    --accent-foreground: #09090b;

    --secondary: #e9e9ed;
    --secondary-foreground: #09090b;

    --muted: #f2f2f6;
    --muted-foreground: #909296;

    --destructive: #ef4444;
    --destructive-foreground: #fafafa;

    --popover: #ffffff;
    --popover-foreground: #09090b;

    --border: #cccccc;
    --input: #09090b;
    --ring: #09090b;
    --radius: 0.4rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer utilities {
  .text-stroke {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px hsl(0, 0%, 90%);
  }
}

@layer base {
  [data-sonner-toast] [data-cancel] {
    color: var(--foreground) !important;
    background: transparent !important;
  }
}
